
export OCP_VERSION="4.5.8"
export RHCOS_VERSION="4.5.6"
export OCP_CLUSTER_NAME="caas"
export OCP_BASE_DOMAIN="example.com"
# Satellite settings
export ORG="Disconnected Organization"
export LOC="Disconnected Zone" 
export COMPUTE_RESOURCE="laptop"
export COMPUTE_PROFILE="2-Medium"
export DOMAIN="disconnected.net"
export SUBNET="Private"
export SVRNAME="bootstrap"
